/* 左侧栏 */
.box{
    float: left;
    position: relative;
    left: 10%;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 2%;
}
.element1, .element2, .element3{
    position: inherit;
    width: auto;
    padding-bottom: 8%;
    background-color: #0c2442;
    background-image: linear-gradient(to right,#0c2442, #323d40);
    border-radius: 20px;
    margin-bottom: 9%;
    cursor: pointer;
}
.element1:hover{
    -moz-box-shadow: 10px 10px 5px black; 
    box-shadow: 1px 10px 10px black;
}
.element2:hover{
    -moz-box-shadow: 10px 10px 5px black; 
    box-shadow: 1px 10px 10px black;
}
.element3:hover{
    -moz-box-shadow: 10px 10px 5px black; 
    box-shadow: 1px 10px 10px black;
}
.ebox{
    color: azure;
    position: relative;
    left: 5%;
    font-size: 2vw;
    padding-top: 1.5%;
    font-family:"STHeiti";
    font-weight: 600;
}
.c1, .c2, .c3{
    position: relative;
    width: 90%;
    top: 1vmax;
    left: 2.5vmax;
    padding-bottom: 24%;
    background-repeat: no-repeat;
    background-size: 101% 101%;
    background-color: #0c2442;
}

.c1{
    background-image: url('https://s2.loli.net/2022/04/03/RcmviWlzTBJtYh3.png');
}
.c2{
    background-image: url('https://s2.loli.net/2022/04/03/y5Ksb9iM7xGpejB.png');
}
.c3{
    background-image: url('https://s2.loli.net/2022/04/03/auW6BXO8ClJqL4n.png');
}
/* 右侧栏 */
.right{
    float: right;
    position: relative;
    right: 10%;
    width: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 0.5%;
    border-radius: 20px;
}
.box2{
    position: relative;
    margin-bottom: 5%;
    padding-bottom: 6.5%;
    border-radius: 20px;
    background-image: linear-gradient(to right,#0c2442, #323d40);
    overflow: hidden;
}
.con2{
    position: relative;
    padding-top: 3%;
    left: 3%;
}
.QQ{
    color: azure;
    font-size: 2vw;
}
.noqq{
    position: relative;
    right: -50%;
    color: pink;
    font-size: 1vw;
    text-decoration: underline;
    cursor: pointer;
}
.g1, .g2, .g3{
    position: relative;
    margin-top: 6%;
    width: 94%;
    padding-bottom: 10%;
    border-radius: 20px;
    cursor: pointer;
    filter: brightness(100%);
}
.g1{
    background: url(https://s2.loli.net/2022/04/03/iWPKkD52C18LHzZ.png) left center no-repeat,linear-gradient(to right, #e40166, #faee37);
    background-size: contain;
}
.g2{
    background: url(https://s2.loli.net/2022/04/03/qadklrhDLIc2Tn4.png) left center no-repeat,linear-gradient(to right, #27FDFD, #4DF979);
    background-size: contain;
}
.g3{
    background: url(https://s2.loli.net/2022/04/03/kSE5BF3qUMZmcIe.png) left center no-repeat,linear-gradient(to right, #0027FF, #6400FF);
    background-size: contain;
}
.g1:hover{
    filter: brightness(120%);
    box-shadow: 1px 1px 10px black;

}
.g2:hover{
    filter: brightness(120%);
    box-shadow: 1px 1px 10px black;

}
.g3:hover{
    filter: brightness(120%);
    box-shadow: 1px 1px 10px black;

}
.g1h,.g2h,.g3h{
    display: none;
    position: relative;
    left: 40%;
    padding-top: 10%;
    font-size: 2vw;
    color: azure;
    font-weight: 500;
}
.g1c,.g2c,.g3c{
    position: relative;
    left: 40%;
    padding-top: 10%;
    font-size: 2vw;
    color: azure;
    font-weight: 500;
}
.box3{
    margin-top: 10%;
    position: relative;
    margin-bottom: 5%;
    padding-bottom: 7%;
    border-radius: 20px;
    background-image: linear-gradient(to right,#0c2442, #323d40);
}
.icon{
    position: relative;
    padding-top: 3%;
    left: 10%;
}
.ct{
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 3%;
    color: azure;
}
.enter{
    position: relative;
    width: 80%;
    left: 10%;
    background-color: rgba(240,255,255,0.2);
    margin-top: 5%;
    padding-bottom: 1%;
    padding-top: 0.8%;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    color: azure;
    font-weight: 600;
}
.enter:hover{
    background-color: rgba(240,255,255,0.7); 
    font-weight: 900;
}
.bottom{
    position: absolute;
    margin-top: 72%;
    width: 100%;
    text-align: center;
    color: azure;
    font-size: 1vw;
}
