body{
	background-color: #282D2E;
    background-image: url(../img/group.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 0%;
}
.g_main1{
	float: left;
	width: 35%;
	height: 68vw;
	margin-left: 10%;
	margin-top: 3%;
}
.g_main2{
	float: right;
	width: 35%;
	height: 68vw;
	margin-right: 10%;
	margin-top: 3%;
}
.fmm{
	height: 15vw;
	width: auto;
	background-image: linear-gradient(to right,#0c2442, #323d40);
	border-radius: 20px;
	margin-bottom: 2vw;
	box-shadow: 1px 1px 10px black;
	cursor: pointer;
}
.fmm:hover{
	box-shadow: 2px 2px 15px black;
}
.group_ti{
	padding-top: 2%;
	padding-left: 2%;
	color: azure;
	font-size: 2.5vw;
}
.work{
	width: 24%;
	display: inline-block;
	margin-left: 85%;
	margin-top: -17%;
}
.group_content{
	padding-top: 2%;
	padding-left: 2%;
	color: azure;
	font-size: 1.2vw;
	padding-right: 2%;
}