@charset "utf-8";
/* CSS Document */
*{
	padding: 0%;
	margin: 0%;
}
a{ 
    text-decoration:none;
}
body{
	background-color: #282D2E;
	background-image: url("https://s2.loli.net/2022/04/03/My5qZGbfY4UheHa.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 0%;
}
.layout{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 35%;
}
.title{
	color: azure;
	font-size: 3vw;
	font-family: "SThupo";
}
.content{
	color: azure;
	padding-top: 1%;
	padding-left: 0.5%;
	font-size: 1vw;
}
.button1{
	padding-top: 0.5%;
	width: fit-content;
	cursor: pointer;
	color: pink;
	text-decoration: underline;
}
.hidden{
	padding-top: 0.5%;
	display: none;
}
.opennav{
	display: none;
	position: absolute;
	padding-left: 90%;
	top: 0%;
}
.close{
	display: none;
}