@media screen and (max-device-width:800px){
    .pro1{
        float: none;
        width: 80%;
        margin-left: 10%;
        margin-right: 0%;
        margin-bottom: 15%;
        height: 85vw;
    }
    .pro2{
        float: none;
        width: 80%;
        margin-left: 10%;
        margin-right: 0%;
        margin-bottom: 15%;
        height: 85vw;
    }
    .pro3{
        float: none;
        width: 80%;
        margin-left: 10%;
        margin-right: 0%;
        margin-bottom: 15%;
        height: 55vw;
    }
    .pro4{
        float: none;
        width: 80%;
        margin-left: 10%;
        margin-right: 0%;
        margin-bottom: 15%;
        height: 55vw;
    }
    .card{
        height: 10vw;
        font-size: 7vw;
    }
    .pimage1{
        height: 75vw;
    }
    .pimage2{
        height: 45vw;
    }
    .flo{
        top:5%;
        left: 10%;
        width: 80%;
        height: 100vw;
 
    }
    .ti1{
        font-size: 8vw;
        padding-bottom: 0%;
    }
    .pro_no{
        font-size: 2.5vw;
        padding-left: 63%;
    }
    .pro_main{
        padding-top: 2.5%;
        font-size: 3vw;
    }
    .ti{
        font-size: 8vw;
    }
}